.home{
    height: 94vh;
    min-height: 90vh;
    width: 18rem;
    min-width: 16rem;
    position: relative;
    background: rgba(145, 166, 181, 0.15);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 15px );
border-radius: 10px;
border: 2px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    overflow: scroll;
    /* border: 3px solid var(--grey); */
    
  }
  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
  }
  .heading p{
    font-size: 14px;
    color: var(--grey);
  }
  .heading h3{
    font-size: 16px;
  }
  .Landingpage button{
      outline: none;
      background-color: transparent;
      border: 1.5px solid var(--red);
      border-radius: 3px;
      font-size: 12px;
      width: 74px;
      padding: 2px 8px;
      color: rgb(255, 255, 255) !important;
      font-weight: 400;
      
  }

  .middle{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .middle img{
    width: 100px;
  }
  .middle h1{
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(245, 190, 145);
    -webkit-text-fill-color: transparent;
  }
  .middle h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
  }

  .middle p{
    font-size: 13px;
    color: var(--grey);
  }

  .middle h4{
    margin: 15px;
    color: rgb(253, 175, 79);
    font-weight: 400;
  }

  .middle h4 i{
    border:1.5px solid rgb(246, 190, 87);
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 12px;
    color: var(--grey);
  }

  .middle .link-no-underline{
    text-decoration: none;
  }
  .bottom{
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media (max-height: 550px) {
    .home{
      border-radius: 20px;
      padding: 10px;
      gap: 0.5rem;
      min-width: 16.5rem;
    }
  
    .middle{
      gap: 4px;
    }
    .middle img{
      width: 80px;
    }
  
  }